<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Specific Post</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/specificPost.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- <h1><%=post.title %></h1>
    <p><%=post.description %></p>
    <br><br>
    <p><%-post.content %></p>
     -->
    <%- include("./layouts/header.ejs") %>
    <div class="wrapper-box">
      <div class="section">
        <div class="box">
          <div class="content-heading">
            <h1 class="heading">This is my blog</h1>
            <p class="description">Sample description</p>
          </div>
          <div class="content-image">
            <img
              src="/images/food/0497393aabfdf26571cf438b5ce46bee (1).png"
              alt=""
            />
          </div>
          <div class="user-profile">
            <div class="image-section">
              <img src="/images/finallogo.png" alt="" />
            </div>
            <div class="profile-detail">
              <h3 class="name">Sam Dubey</h3>
              <p class="time">Posted on: <%=date %></p>
            </div>
          </div>
          <hr style="border: 1px dotted #6b6b6b; width: 100%" />
          <div class="content-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
              molestiae dolor hic placeat culpa deserunt magni provident illum
              autem dolore neque reprehenderit magnam quidem libero, eos
              laboriosam nesciunt corrupti aliquid, nam quas veniam dolores
              tempore! Deleniti dolorum porro voluptatum rerum debitis. Facere
              itaque, sit illo eaque aut suscipit, tempora voluptas eum quasi
              laudantium accusamus sapiente voluptatem iste fugit optio fugiat
              ipsa quos error? Nobis at, vel laborum fugit velit dolor nostrum
              officia laboriosam praesentium ratione fuga minus dolorem
              obcaecati totam quod, porro vero, soluta iure? Rem et quis
              obcaecati quisquam sint dolore! Et esse, quis quasi quo hic eos,
              fuga molestias impedit asperiores porro iste aut quidem veritatis
              praesentium repudiandae perspiciatis dolorem veniam optio dolor
              cum odit maiores eius. Harum vero cumque alias quidem
              perspiciatis? Modi facere quo natus, dolorum quas labore,
              provident quis ut dolore neque, laudantium suscipit cum! Non iusto
              at harum perferendis incidunt a. Sunt libero quisquam ducimus
              alias neque cupiditate, dolorum nisi officia deleniti consectetur
              earum, incidunt, voluptas quasi provident quod labore aspernatur
              impedit eius? Suscipit, amet eos et praesentium officia sed.
              Soluta, sed sint doloremque repudiandae consequuntur quisquam
              aspernatur. Excepturi quidem quae nisi voluptatibus vitae. Quod
              recusandae quaerat dolorem temporibus architecto aperiam natus!
              Cumque sint eos, quis explicabo unde perferendis omnis possimus
              velit, alias ex, expedita rerum. At optio reprehenderit iusto
              praesentium. Ut maiores doloremque nihil in accusamus sapiente,
              hic amet esse ullam atque nam voluptate similique rem fugiat ipsum
              rerum eius odio qui reiciendis veniam sit fuga ducimus eveniet
              labore! Eum quasi laborum aspernatur omnis tenetur quam?
              Temporibus mollitia, recusandae reprehenderit fugiat error quo
              quae dolores reiciendis assumenda repellat corrupti earum placeat.
              Omnis aliquid repudiandae, inventore ipsum corrupti praesentium
              dolorum, harum maiores numquam blanditiis, ab ex deserunt incidunt
              architecto delectus vel voluptatibus voluptatem quaerat unde
              illum. Ex repellendus molestiae esse perspiciatis ab molestias hic
              soluta dolore! Cupiditate harum officia tempore, nostrum eum
              eveniet aliquam velit ea eos? Hic numquam nam in. Sit incidunt
              minima dicta, numquam in beatae veritatis laboriosam consequuntur
              saepe suscipit. Sint eveniet placeat, recusandae obcaecati ipsam
              quibusdam modi iusto. Tempora perferendis doloremque quas omnis
              provident, voluptates veritatis quibusdam soluta maiores. Ipsam
              minus modi cumque sapiente, officiis ad, deserunt vero id sequi
              placeat tempora rem voluptate enim sit nostrum delectus quam
              molestiae. Reprehenderit cupiditate repudiandae, sunt voluptate
              quas dicta, quae quisquam obcaecati sit quos soluta est vel quidem
              eveniet voluptatibus possimus corporis aut ipsa reiciendis ipsum.
              Deleniti molestias aliquam architecto sunt a iusto maxime
              repellendus est enim esse harum saepe aperiam, aspernatur
              dignissimos labore? Nostrum vel consectetur molestiae dignissimos
              quisquam facilis sapiente ut. Ullam repellendus dolore incidunt
              nisi fugiat? Ratione quam, dolores dicta sit ex at facilis beatae
              neque. Modi consequatur fugit veniam deleniti. Unde, aliquam illum
              explicabo laborum ducimus sed nam accusantium deleniti amet
              pariatur aspernatur ea hic temporibus commodi nisi ipsum quia odio
              earum corrupti recusandae? Porro explicabo modi, facilis quaerat
              assumenda officiis aliquid veritatis. Nesciunt dicta cupiditate
              praesentium iure? Vel numquam soluta quod, pariatur, dolorum illum
              cumque optio deserunt aspernatur corrupti distinctio, nulla
              accusantium nesciunt ipsa eaque! Provident at voluptatibus eaque
              similique deleniti obcaecati, porro minima modi tempora
              repudiandae minus eligendi voluptas pariatur quo autem assumenda
              reprehenderit, dolore laudantium sunt quasi adipisci tenetur
              labore optio! Adipisci alias maiores at repellat, exercitationem
              incidunt aspernatur impedit quo rerum eum delectus corporis eos
              aut. Ipsam praesentium sunt totam sint ipsa molestias doloribus.
              Possimus, in nihil? Voluptatem tempora eveniet temporibus
              consectetur laboriosam sit illum consequuntur nemo alias velit,
              nisi iusto amet asperiores dolores repudiandae. Eveniet laborum
              corporis quam ex blanditiis voluptatem obcaecati nihil vitae
              eligendi labore, error impedit itaque delectus corrupti sed ab cum
              dolor ea mollitia perspiciatis quidem natus. Aspernatur earum et
              obcaecati, cumque pariatur maxime culpa non animi ut asperiores
              libero numquam aut quae architecto quasi at hic quod ducimus
              dolorem illo enim quas exercitationem rerum ex? Amet dolore odit
              minus facere laudantium nihil voluptas molestiae, rem praesentium,
              molestias aut, perferendis soluta harum? Labore, at? Eligendi
              delectus accusantium reiciendis odio hic distinctio praesentium,
              cumque, quaerat laudantium veritatis dignissimos velit illum animi
              eum temporibus maiores a esse soluta ab dolorem cupiditate
              inventore! Quaerat, inventore quas. Quos modi quasi, repellendus
              laudantium cupiditate nulla unde non. Ipsam, sed optio totam
              corporis veritatis, minima minus eligendi consequatur hic fugiat
              magnam mollitia? Sapiente veniam quos cupiditate nobis, reiciendis
              quisquam id consequuntur possimus dolorem, ratione incidunt rerum,
              quam minus at ducimus maiores voluptate ipsa repellendus
              blanditiis. Sapiente excepturi rem, repudiandae cumque eveniet nam
              quo adipisci ex, repellendus ab sunt atque et qui error dolores
              impedit ipsa iure eos quae voluptas iste mollitia quibusdam. Quam
              ipsam unde, reiciendis sint hic ducimus eligendi voluptatem quia
              ad labore nam nisi ex praesentium autem, facere quae omnis
              perspiciatis. Tempora aliquid quae sint deserunt, minima, porro
              ipsa cum alias atque rerum temporibus eaque magni animi fuga
              error. Laboriosam fuga expedita molestias nihil ipsam quos iste
              qui cum suscipit pariatur consequatur, quisquam eligendi repellat
              illum iure aliquid nemo eius consequuntur commodi impedit. Non
              neque a sit, sed distinctio quidem doloribus? Eaque dolorum
              laborum modi error sunt quae aliquid velit pariatur, quas totam
              assumenda ullam vitae. Numquam quas dolore accusamus aliquam
              accusantium ex, a laudantium expedita, totam dignissimos facere
              eveniet odio dicta distinctio est debitis commodi fugiat quis
              iusto cum. Fugit alias distinctio, illo corporis soluta quo
              architecto vel incidunt saepe provident error consectetur illum
              assumenda dolores quae inventore eos voluptate, vero aspernatur
              omnis fugiat beatae quia! Magni rem dolores, aliquid reiciendis
              voluptas quae odit labore quaerat quo, corrupti architecto iusto
              eius voluptatum, recusandae necessitatibus distinctio
              exercitationem quasi! Consequatur, temporibus rerum dolore eius a
              natus quisquam ad, ab eligendi magnam repellat alias qui facilis
              molestias iste provident deserunt neque distinctio? Dolorem,
              blanditiis. Non praesentium perferendis suscipit tenetur incidunt
              eum dignissimos odit mollitia illum, beatae nostrum vero a! Quas
              consectetur laudantium vel cum sit ullam nam beatae minus unde!
              Qui animi natus sequi rerum voluptas commodi exercitationem omnis,
              delectus sit, incidunt necessitatibus repudiandae aliquid libero
              tempore ab mollitia rem et ducimus doloribus repellat provident
              doloremque officiis! Explicabo aut voluptas nihil. Voluptatem
              autem illum esse distinctio ullam! Quidem porro saepe sed quisquam
              ipsam blanditiis reprehenderit doloremque.
            </p>
          </div>
          <div class="like-dislike">
            <div class="like">
              <i class="fa-solid fa-thumbs-up"></i>
              <p id="like"><%= likes !== undefined ? likes : 0 %></p>
            </div>
            <div class="dislike">
              <i class="fa-solid fa-thumbs-down"></i>
              <p id="dislike"><%= dislikes !== undefined ? dislikes : 0 %></p>
            </div>
          </div>

          <hr style="border: 1px dotted #6b6b6b; width: 100%" />
          <div class="comment-section">
            <p class=".com-status"></p>
            <form id="comment-form" method="post" action="/post/add-comment">
              <input type="hidden" value="<%= post._id %>" name="postId" />

              <input
                type="text"
                name="comment"
                placeholder="Enter your comment"
              />
              <button type="submit" id="submit-button">Comment</button>
            </form>

            <div class="all-comments">
              <% if (post.comments.length > 0) { %> <%
              post.comments.reverse().forEach(function(comment) { %>
              <div><%= comment.text %></div>
              <div><%= comment.createdBy.name %></div>

              <div>
                <form
                  action="/post/reply/<%=comment._id %>"
                  method="POST"
                  id="reply-form"
                >
                  <input
                    type="hidden"
                    name="commentId"
                    value="<%= comment._id %>"
                  />
                  <input type="hidden" />
                  <input type="text" name="reply" id="comment-reply" />
                  <button type="submit" id="reply-btn">Reply</button>
                </form>
                <div id="reply-<%=comment._id%>">
                  <% if (comment.replies.length > 0) { %> <%
                  comment.replies.forEach(function(reply) { %>
                  <p><%= reply.text %></p>
                  <p><%= reply.createdBy.name %></p>
                  <% }) %> <% } %>
                </div>
              </div>
              <% }) %> <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        var socket = io();

        socket.on("new_comment", function (formData) {
          if (formData) {
            var html = `
            <div>
              <div>${formData.comment}</div>
              <div>${formData.username}</div>
            </div>
          `;
            $(".all-comments").prepend(html);
          }
        });

        socket.on("new_reply", function (formData) {
          if (formData) {
            var html = `
            <div>
              <p>${formData.reply}</p>
              <p>${formData.username}</p>
            </div>
          `;
            $(`#reply-${formData.commentId}`).append(html);
          }
        });

        // Comment form submission
        $("#comment-form").submit(function (event) {
          event.preventDefault();
          var formData = {};
          var obj = $(this);
          $.each($(this).serializeArray(), function (i, field) {
            formData[field.name] = field.value;
          });

          $.ajax({
            url: "/post/add-comment",
            type: "POST",
            data: formData,
            success: function (data) {
              if (data && data.success) {
                alert(data.msg);
                $(obj)[0].reset();
                formData._id = data._id;
                formData.username = data.username;
                formData.commentId = data.comment_id;
                socket.emit("new_comment", formData);
              }
            },
            error: function (xhr, status, error) {
              console.log("AJAX error:", status, error);
            },
          });
        });

        // Delegate event for reply forms
        $("#reply-form").submit(function (event) {
          console.log("hello sim");

          event.preventDefault();
          let formData = {
            commentId: $('input[name="commentId"]').val(),
            reply: $('input[name="reply"]').val(),
          };

          var obj = $(this);
          $.each($(this).serializeArray(), function (i, field) {
            formData[field.name] = field.value;
          });

          console.log("formdata:", formData);

          $.ajax({
            url: `/post/reply/${formData.commentId}`,
            type: "POST",
            data: formData,
            success: function (data) {
              if (data && data.success) {
                alert(data.msg);
                $(obj)[0].reset();
                formData._id = data._id;
                formData.username = data.username;
                socket.emit("new_reply", formData);
              }
            },
            error: function (xhr, status, error) {
              console.log("AJAX error:", status, error);
            },
          });
        });

      
        var postId="<%=postId%>";
        var userId="<%=userId%>";

        console.log("post id:",postId);
        

        const token = `; ${document.cookie}`;
        if (!token) {
          $(".fa fa-thumbs-down").addClass("disabled");
          $(".fa-thumbs-up").addClass("disabled");
        }

        $(".fa-thumbs-up").click(function () {
          console.log("like clicked");
          
          socket.emit("like", { post_id: postId, user_id: userId });
        });
        $(".fa-thumbs-down").click(function () {
          console.log("disliked post");
          
          socket.emit("dislike", { post_id: postId, user_id: userId });
        });

        socket.on("like_dislike", function (data) {
          if (postId == data.post_id) {
            $("#like").text(data.likes);
            $("#dislike").text(data.dislikes);
          }
        });
      });
    </script>
  </body>
</html>
